body {
    background-color:black;
    font-family: verdana;
}
h1{
    color:grey;
    font-family: verdana;
}
.maindiv{
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    align-self: center;
}
