body {
    background-color:black;
    font-family: verdana;
}
h1{
    color:grey;
    font-family: verdana;
}
label {
    width: 120px;
    display: inline-block;
}
.maindiv{
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin: auto;
}
form{
    margin-left: 85px;
}
